body,html{height:100%;padding:0px;margin:0px; background-image: url("../img/espaciopiedras.jpg");background-repeat:no-repeat;background-size: cover;}


p{top:10%;height:2%;position:relative;color:white;margin:2%;}
b{color:white;}